<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BridgedClasses</key>
	<dict>
		<key>HBWebViewController</key>
		<string>HBExecutionUnit</string>
		<key>HBNavigationController</key>
		<string>UINavigationController</string>
		<key>HBViewController</key>
		<string>UIViewController</string>
		<key>HBClass</key>
		<string>HBBridgedClass</string>
	</dict>
	<key>PluginScripts</key>
	<array>
		<string>HBClass</string>
		<string>HBViewController</string>
		<string>HBNavigationController</string>
		<string>HBWebViewController</string>
		<string>ShortCuts_Plugin</string>
	</array>
</dict>
</plist>
